/* Estilos generales y colores de fondo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(to right, #5144cc, #322675); width: 100%; height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}

/* Botones y entradas con estilo */
button {
    background-color: #3d3b3b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

input[type="file"] {
    margin: 20px;
}

/* Estilos para los botones de acción ocultos */
#actionButtons {
    margin: 20px 0;
    margin-top: -5px;
}

@media (max-width: 600px) {
    button {
        width: 100%;
        box-sizing: border-box;
    }

    input[type="file"] {
        width: 100%;
        box-sizing: border-box;
    }
}
.file-upload-wrapper {
    position: relative;
    display: inline-block;
}

#customFileButton {
    background-color: #444;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#customFileButton:hover {
    background-color: #666;
}

div.botonProcesar{
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#fsuCodeInputsContainer{
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(43, 44, 46);
    height: auto;
    padding: 20px;
    border-radius: 10px;
    display: flexbox;
    text-align: center;
    margin-bottom: 30px;
    
}
#codeInputsContainer{
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(43, 44, 46);
    height: auto;
    padding: 20px;
    border-radius: 10px;
    display: flexbox;
    text-align: center;
    margin-bottom: 30px;
    
}
div.justificado{
    margin-top: 20px;
    margin-bottom: 100px;

}
p.creado{
    text-align: center;
    margin: 10px;
}

div#textAreaContainer{
    margin-top: 50px;

}


.version{
    position: absolute;
    left: 0px;
}

.arreglos{
    font-size: 12px;
}


.oculto{
display: none;}


.texto{
    border-radius: 20px;
    background-color: #4d4b4b;
    display: grid;
    filter: blur();
    width: 400px;
    height: auto;
    justify-items: center;
    padding: 20px;
}
    